.life-cover{
  width: 100%;height: 100%;
  position: relative;
  margin: 0 auto;
}

.swiper-container {
   width: 100%;
   margin: 1px auto;
}
.swiper-slide {
   text-align: center;
   font-size: 14px;
   background: #fff;
   height: 45px;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.life-content{
  width: 100%;height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.selected{
  border-bottom: solid 2px red;
}
.fixed-menu{
  width: 414px;
  margin: 0 auto;
  position: fixed;
  z-index: 30;
  top: -1px;
}
