.waterfall-container{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 0.27rem;
  padding-top: 0.27rem;
  display: flex;
}
.waterfall-content-left{
    width: 4.6rem;
    float: left;
    display: inline-block;
    padding-right: 0.27rem;
}
.waterfall-content-right{
    width: 4.53rem;
    float: left;
    display: inline-block;
    padding-right: 0.27rem;
}
.box{
  background-color: #fff;
  margin-bottom:  0.27rem;
  box-shadow: 1px 1px 1px #ccc;
}

.box img{
  width: 100%;
}
.box .item-title{
  padding: 5px;
  font-size: 16px;
}
.box .item-desc{
  display: -webkit-box;
  font-size: .24rem;
  margin-bottom: .15rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 5px;
  padding-right: 5px;
}
.box .item-auth{
  padding: 5px;
  display: flex;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.box .item-auth .avatar{
  flex: 1;
}
.avatar img{
    width: 20px;height: 20px;
    border-radius: 20px;
}
.box .item-auth .name{
  text-align: left;
  flex: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box .item-auth .likes{
  flex: 1;
}
