html,body{width: 100%;height: 100%;}
body{
  background-color: rgb(245,248,250);}

header{width: 100%;height: 50px;display: flex;background-color: #fff;}
header div{flex: 1;text-align: center;line-height: 50px;}

.container{background-color:rgb(245,248,250);}
@media screen and (min-width: 414px) {
    .container{
      width: 414px;
      margin: 0 auto;
    }
    .life-cover{
      width: 414px;
      margin: 0 auto;
      position: relative;
    }
}
