html,body{width: 100%;height: 100%;}
body{
  background-color: rgb(245,248,250);}




.left{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 40px;
  top: 10px;
  left: 10px;
  /*background: red;*/
  /*background: url(/public/imgs/pic01.jpg) no-repeat 100% 100%;*/
}
.left img{
  width: 100%;
}




.right{
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  top: 12px;
  right: 14px;
  /*background: red;*/
  /*background: url(/public/imgs/pic01.jpg) no-repeat 100% 100%;*/
}
.right img{
  width: 100%;
}



/*position:fixed; top:0;*/
header{  z-index: 800;  padding-left:35%;width: 50%; padding-right: 15%; height: 40px;display: flex;background-color: #fff;}
header div{flex: 1;text-align: center;line-height: 40px;}
header div a{
   font-size: 12px;
}

header div a:link{
  color: black;
}


header div a:hover{
  color: red;
}

/*header div a:visited{
  color: yellow;
}*/






.container{background-color:rgb(245,248,250);}
@media screen and (min-width: 414px) {
    .container{
      width: 414px;
      margin: 0 auto;
    }
    .life-cover{
      width: 414px;
      margin: 0 auto;
      position: relative;
    }

      .Buy-cover{
      width: 414px;
      margin: 0 auto;
      position: relative;
    }

/*品牌*/
    .green{
          width: 414px;
      margin: 0 auto;
      position: relative;
    }

   .yellow{
          width: 414px;
      margin: 0 auto;
      position: relative;

    }
}


